@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../../node_modules/@melv1c/ui-kit';

/* Import base theme structure */
@import '@melv1c/ui-kit/base.css';
@import '@melv1c/ui-kit/themes/default.css';
