name: CI

on:
  pull_request:
    branches: [main]
    paths:
      - 'apps/**'
      - 'packages/**'
      - '.github/workflows/ci.yml'
  workflow_call:

jobs:
  ci:
    name: Build & Check
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Linting
        run: pnpm run lint

      - name: Format check
        run: pnpm run format:check

      - name: Prisma Validate
        run: pnpm run validate

      - name: Prisma Generate
        run: pnpm run generate

      - name: Type checks
        run: pnpm run check-types

      - name: Build all packages
        run: pnpm run build
