name: Code Quality

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  quality:
    name: Lint, Type Check, and Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Linting
        run: npm run lint

      - name: Type checking
        run: npm run check-types

      - name: Build
        run: npm run build
